@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --cor-bg: black;
    --cor-texto: #FFF6E0;
    --cor-botao: #36383e;
    --cor-botao-hover: #696c6f;
    --cor-botao-click: #97999c;
    --cor-texto-cabecalho-rodape: #f6cb0b;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--cor-bg);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

.cabecalho {
    color: var(--cor-texto-cabecalho-rodape);
    text-align: center;
    padding: 1em 6em 0em 6em;
}

.secao_principal {
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zona1 {
    padding: 2em 3em 0em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zona2 {
    padding: 3em 3em 0em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.placar {
    color: var(--cor-texto);
    padding: 1em 6em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.placar_texto {
    padding-left: 1em;
}

.placar_numero {
    padding-right: 1em;
}

.botao {
    color: var(--cor-texto);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cor-botao);
    border-radius: 10px;
    text-decoration: none;
    font-size: 110%;
}

.botao:hover, .botao_ancora:hover {
    background-color: var(--cor-botao-hover);
}

.botao:active, .botao_ancora:active {
    background-color: var(--cor-botao-click);
}

.botao_play {
    padding: 1em 5em;
}

#botao_conheca {
    color: #f6cb0b;
}

.resposta {
    padding: 1em 6em 1em 6em;
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.botao_resposta {
    padding: 1em 2em;
}

.botao_ancora {
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor-botao);
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 5em;
}

.botao_ancora_menu {
    width: 60px;
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor-botao);
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 5em;
}

.imagem {
    max-width: 20em;
}

.botoes_navegacao_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.rodape {
    color: var(--cor-texto-cabecalho-rodape);
    text-align: center;
    padding: 2em 6em;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 1em;
    }
    .secao_principal {
        flex-direction: column;
    }
    .zona1 {
        padding: 0.5em;
    }
    .placar {
        padding: 0em 6em 1em 6em;
    }
    .zona2 {
        padding: 0.5em;
        gap: 0.5em;
    }
    .botao {
        font-size: 90%;
    }
    .botao_ancora {
        font-size: 90%;
    }
    .rodape {
        padding: 0em;
    }
}

@media (max-width: 600px) {
    .cabecalho {
        padding: 1em;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        font-size: 80%;
    }
    .placar {
        padding: 1em;
    }
    .resposta {
        padding: 1em;
    }
    .imagem {
        max-width: 18em;
    }
}

@media (max-width: 360px) {
    .cabecalho {
        font-size: 65%;
    }
    .rodape{
        padding: 1em;
    }
    .imagem {
        max-width: 15em;
    }
}